<router-outlet></router-outlet>
<br>
<br>
<br>
<br>
<div class="container">
    <div class="row"> 
        <div class="col-sm-4" *ngFor="let station of stationInfo">
            <div class="card" style="width: 18rem;">
                <div class="card light-card" style="padding: 10px">
                    <h5 class="card-title">Location: {{station.location}}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">ID: {{station.id}}</h6>
                    <p class="card-text">Temperature: {{station.stationData.temperature.toFixed(2)}} °C</p>
                    <p class="card-text">Humidity: {{station.stationData.airHumidity.toFixed(2)}} %</p>
                    <p class="card-text">Wind: {{station.stationData.windPace.toFixed(2)}} m/s</p>
                </div>
            </div>
            <br>
        </div>
    </div>
    <footer>
        Backend URL: <a>{{config.stationInfoUrl}}</a><br>
        Author: <a href="https://www.energyeet.com">©Energyeet</a>, ©Danilo Jakob    
    </footer>
</div>